Portfolio Lead Capture.json
{
  "name": "Portfolio Lead Capture",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "portfolio-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "61a55d61-80ce-48c0-aff9-380258c6521f",
      "name": "Webhook Portfolio",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        304
      ],
      "webhookId": "7d9816aa-09e0-4f61-be56-768ea014203b"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.body.website }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "8b06cb18-9a79-425e-bc57-86a6e99731bf",
      "name": "Check Honeypot",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"message\": \"Recebido.\" } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "cdd86a22-5a69-4849-b4ff-490c91a166a1",
      "name": "Respond Spam",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        688,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.body.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty"
              }
            },
            {
              "id": "2",
              "leftValue": "={{ $json.body.phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty"
              }
            },
            {
              "id": "3",
              "leftValue": "={{ $json.body.businessType }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty"
              }
            },
            {
              "id": "4",
              "leftValue": "={{ $json.body.projectType }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "b28a34d4-06f0-4d18-92a6-c2747690f7ef",
      "name": "Check Required Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        688,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": false, \"message\": \"Dados obrigatórios ausentes.\" } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "0f9d406d-3af1-4cb3-9ecf-04a5615f946d",
      "name": "Respond Missing Fields",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        912,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "nome",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "whatsapp",
              "value": "={{ $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "negocio",
              "value": "={{ $json.body.businessType }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "projeto",
              "value": "={{ ({landing_page:'Landing page',institutional_site:'Site institucional',digital_menu:'Cardápio digital',scheduling:'Agendamento',simple_system:'Sistema simples',other:'Outro'})[$json.body.projectType] || $json.body.projectType }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "orcamento",
              "value": "={{ ({up_to_300:'Até R$300','300_to_600':'R$300 a R$600','600_to_1000':'R$600 a R$1000',unsure:'Ainda não sei'})[$json.body.budget] || 'Não informado' }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "mensagem",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "7",
              "name": "origem",
              "value": "Portfolio",
              "type": "string"
            },
            {
              "id": "8",
              "name": "status",
              "value": "Novo",
              "type": "string"
            },
            {
              "id": "9",
              "name": "data",
              "value": "={{ $now.toFormat(\"dd/MM/yyyy HH:mm\") }}",
              "type": "string"
            },
            {
              "id": "10",
              "name": "pageUrl",
              "value": "={{ $json.body.pageUrl }}",
              "type": "string"
            },
            {
              "id": "11",
              "name": "mensagem_pronta",
              "value": "=Oi {{ $json.body.name }}! Vi que você pediu um orçamento pelo meu portfólio para um projeto de {{ ({landing_page:'Landing page',institutional_site:'Site institucional',digital_menu:'Cardápio digital',scheduling:'Agendamento',simple_system:'Sistema simples',other:'Outro'})[$json.body.projectType] || $json.body.projectType }} para {{ $json.body.businessType }}. Posso te chamar por aqui para entender melhor e te passar uma ideia de valor?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c34cf7df-3778-4292-9355-f3cf0d4e869b",
      "name": "Normalize Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        496
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1b98hOmvS6oz-oaMykPyWTDP10xfSqFbLLVUmcZR2fSE",
          "mode": "list",
          "cachedResultName": "Leads Portfolio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1b98hOmvS6oz-oaMykPyWTDP10xfSqFbLLVUmcZR2fSE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1b98hOmvS6oz-oaMykPyWTDP10xfSqFbLLVUmcZR2fSE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{$json.data}}",
            "Nome": "={{$json.nome}}",
            "WhatsApp": "={{$json.whatsapp}}",
            "Tipo de negócio": "={{$json.negocio}}",
            "Tipo de projeto": "={{$json.projeto}}",
            "Orçamento": "={{$json.orcamento}}",
            "Mensagem": "={{$json.mensagem}}",
            "Origem": "={{$json.origem}}",
            "Status": "={{$json.status}}",
            "URL da página": "={{$json.pageUrl}}",
            "Mensagem pronta": "={{$json.mensagem_pronta}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WhatsApp",
              "displayName": "WhatsApp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tipo de negócio",
              "displayName": "Tipo de negócio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tipo de projeto",
              "displayName": "Tipo de projeto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Orçamento",
              "displayName": "Orçamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mensagem",
              "displayName": "Mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Origem",
              "displayName": "Origem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL da página",
              "displayName": "URL da página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mensagem pronta",
              "displayName": "Mensagem pronta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3bba1e80-d223-4f63-9a6a-f7e93115b58a",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1136,
        496
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9iRaZesxkbsx8BjG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"message\": \"Lead recebido com sucesso.\" } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "7b0942fb-e613-4a8a-8238-5f939d4a7c64",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1584,
        496
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1500248820842365019/nUA394rSyx_gWU36J6vIg3OWrnA8SqczAf_zzMjZT4VucXjQXok8dygCoiqy8fI6Z-z5",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"content\": \"🚨 Novo lead pelo portfólio\\n\\n👤 Nome: \" + $(\"Normalize Data\").item.json.nome + \"\\n📱 WhatsApp: \" + $(\"Normalize Data\").item.json.whatsapp + \"\\n🏪 Negócio: \" + $(\"Normalize Data\").item.json.negocio + \"\\n🧩 Projeto: \" + $(\"Normalize Data\").item.json.projeto + \"\\n💰 Orçamento: \" + $(\"Normalize Data\").item.json.orcamento + \"\\n\\n📝 Mensagem:\\n\" + $(\"Normalize Data\").item.json.mensagem + \"\\n\\n🔗 Página:\\n\" + $(\"Normalize Data\").item.json.pageUrl + \"\\n\\n💬 Resposta sugerida:\\n\" + $(\"Normalize Data\").item.json.mensagem_pronta } }}",
        "options": {}
      },
      "id": "52397594-6478-4bc7-a4de-627b317e16c7",
      "name": "Send Discord Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1360,
        496
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Portfolio": {
      "main": [
        [
          {
            "node": "Check Honeypot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Honeypot": {
      "main": [
        [
          {
            "node": "Respond Spam",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Required Fields": {
      "main": [
        [
          {
            "node": "Respond Missing Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Data": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Google Sheets": {
      "main": [
        [
          {
            "node": "Send Discord Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Discord Alert": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "53a70c9f-e030-4ca5-bbab-ef2a156d05e1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "de054eb251b79e637369a007f2e03876fe7c7a7e7b1a66cc365e2165fb584269"
  },
  "id": "OkkpDJzzeNF0Q7Ue",
  "tags": []
}